<!-- 

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="drawer-item">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

            paper-icon-item {
                display: block;
                padding: 0;
            }

            .icon {
                display: inline-block;
                vertical-align: middle;
                width: 24px;
                height: 24px;
                margin: 12px;
            }

            .text {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                line-height: 48px;
            }

            #item-content {
                opacity: 1;
                transition: opacity 0.3s ease;
            }

            :host([minimized]) #item-content {
                opacity: 0;
            }

            :host([active]) {
                background-color: var(--mk-primary-light-color);
            }
        </style>

        <paper-icon-item>
            <div id="icon" class="icon">
                <slot name="icon"></slot>
            </div>
            <div id="item-content" class="text">
                <slot name="item"></slot>
            </div>
        </paper-icon-item>


    </template>

    <script>
        class DrawerItem extends Polymer.Element {
            static get is() {
                return 'drawer-item';
            }

            static get properties() {
                return {
                    minimized: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },
                    active: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    }
                };
            }
        }

        window.customElements.define(DrawerItem.is, DrawerItem);
    </script>
</dom-module>